body {
    margin: 0;
    padding: 0;
    background: #C39BD3;
}
/*MENU*/

.header {
    align-items: center;
    background: #C39BD3;
    color: white;
    display: flex;
    height: 200px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
  }
  
  .header__img {
    margin-left: 50px;
  }
  
  .header__menu {
      margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: relative;
    width: 100px;
    text-align: right;
  }
  
  .header__menu:hover ul, ul:hover {
      display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
  }

  .main {
    padding: 50px;
    color: #000000;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 20px;
    text-align: center;
    background: white;
  }

  .carousel {
    width: 100%;
    overflow: scroll;
    position: relative;

}

.carousel__container {
    white-space: nowrap; /*para que los elementos queden horizontales uno tras otro y no queden debajo*/
    margin: 70px 0px; /*70 arriba y abajo y 0 en los laterales*/
    padding-bottom: 10px;
}

.carousel-item {
    background-color: blueviolet;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block; /*para que los elementos queden seguidos*/
    cursor: pointer;
    transition: 450ms all; /*El tiempo de transición*/
    transform-origin: center left; /*Para que no se corra el contenedor*/
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item{ /*Para que el contener se ponga con opacidad*/
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover{/*Para que ya no tenga opacidad*/
    transform: scale(1.5);
    opacity: 1;
}

.container-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover; /*Para que recupere su tamaño original */
}

.carousel-item__details {
    background: linear-gradient(to top rgb(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity; /*Se nos crea la gradiente con esta opacidad*/
    padding: 10px;
    position: absolute;
    top: 0; /*ESTOS ELEMENTOS HASTA BOTTOM ME CENTRA LOS ELEMENTOS*/
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

.carousel-item__details--img {
    width: 20px;
}

.details__place {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  }

  

  





